---
import { Icon } from "astro-icon/components";
import { CartCheckout, CartItemsCount } from "@lloydjatkinson/astro-snipcart/astro";
---

<div class="cs-cart">
	<CartCheckout>
		<button class="cs-button-solid snipcart-checkout-button" title="View Cart">
			<!-- /* Use the Icon component if you want to change the icon */ -->
			<!-- <Icon name="mdi--cart" /> -->
			<svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
				><path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M51.714 20.47L55 60H9l3.286-39.53h9.857v-6.588C22.143 8.424 26.556 4 32 4c5.444 0 9.857 4.424 9.857 9.882v6.589h9.857zM25.43 13.883v16.47h-3.286v-6.587H15.31l-2.737 32.94h38.856l-2.737-32.94h-6.834v6.588h-3.286v-16.47c0-3.634-2.947-6.589-6.571-6.589-3.624 0-6.571 2.955-6.571 6.588zm3.285 9.883V20.47h6.572v3.294h-6.572z"
					fill="currentColor"></path></svg
			>
			<CartItemsCount />
		</button>
	</CartCheckout>
</div>

<script>
	// This script will ensure that the cart gets toggled back on when the checkout button is clicked (edge case for when the sign in modal is already opened)
	document.addEventListener("snipcart.ready", () => {
		const cartButtons = document.querySelectorAll(".snipcart-checkout-button");
		cartButtons.forEach((button) => {
			button.addEventListener("click", () => {
				Snipcart.api.theme.cart.close();
				setTimeout(() => {
					Snipcart.api.theme.cart.open();
				}, 200);
			});
		});
	});
</script>

<style lang="less">
	.cs-cart {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: (8/16rem);
		color: var(--headerColor);
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: var(--primary);
		}

		svg {
			width: (24/16rem);
			height: (24/16rem);
		}
	}
</style>
