---
import { Icon } from "astro-icon/components";
import { CustomerSignIn } from "@lloydjatkinson/astro-snipcart/astro";
---

<div class="cs-cart">
	<CustomerSignIn>
		<button class="cs-button-solid snipcart-sign-in-button" aria-label="Sign in to your account." title="Sign in">
			<!-- /* Use the Icon component if you want to change the icon */ -->
			<!-- <Icon name="mdi--basket-plus" /> -->
			<svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
				><path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z"
					fill="currentColor"></path></svg
			>
			Sign in
		</button>
	</CustomerSignIn>
</div>

<script>
	// This script will ensure that the mobile menu gets toggled off, and that user is redirected to sign in page when the sign in button is clicked
	const CSbody = document.querySelector("body");
	const CSnavbarMenu = document.getElementById("cs-navigation");
	const mobileMenuToggle = document.getElementById("mobile-menu-toggle");
	const signInButtons = document.querySelectorAll(".snipcart-sign-in-button");

	signInButtons.forEach((button) => {
		button.addEventListener("click", () => {
			toggleMenu();
			ariaExpanded(mobileMenuToggle);
			relocateToDashboard();
		});
	});


	function toggleMenu() {
		mobileMenuToggle?.classList.toggle("cs-active");
		CSnavbarMenu?.classList.toggle("cs-active");
		CSbody?.classList.toggle("cs-open");
	}

	// Checks the value of aria expanded on an element and changes it accordingly whether it is expanded or not
	function ariaExpanded(element) {
		const isExpanded = element.getAttribute("aria-expanded");
		element.setAttribute("aria-expanded", isExpanded === "false" ? "true" : "false");
	}

	// Relocates the user to the dashboard page to cover an edge case where clicking the sign in button didn't redirect the user to the dashboard
	function relocateToDashboard() {
		window.location.href = `${window.location.origin}${window.location.pathname}#/signin`;
	}
</script>


<style lang="less">
	.cs-cart {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: (8/16rem);
		color: var(--headerColor);
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: var(--primary);
		}

		svg {
			width: (24/16rem);
			height: (24/16rem);
		}
	}

	body.dark-mode {
		.cs-cart {
			color: var(--bodyTextColorWhite);
		}
	}
</style>
