<!-- ============================================ --><!--                 Promotions                   --><!-- ============================================ -->
<section id="hero-1590">
	<div class="wave-divider">
		<img src="/assets/svgs/wave.svg" alt="decorative wave divider" width="100%" height="auto" aria-hidden="true">
	</div>
	<div class="cs-container">
		<ul class="cs-card-group">
			<li class="cs-item cs-item1">
				<div class="cs-content">
					<span class="cs-topper">ISLAND GIFTS</span>
					<h1 class="cs-title">Clothing and Accessories</h1>
					<p class="cs-text">From handcrafted local souvenirs and tropical home décor to breezy island clothing, fun beach accessories, and artisan-made jewelry, our carefully curated collection reflects the beauty, warmth, and spirit of Maui.</p>
					<a href="https://github.com/CodeStitchOfficial/Advanced-Astro-Snipcart" class="cs-button-solid" target="_blank">Shop Now</a>
				</div>
				<picture class="cs-background">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="/src/assets/images/products/hawaii-text.png" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="/src/assets/images/products/hawaii-text.png" />
					<img loading="lazy" decoding="async" src="/src/assets/images/products/hawaii-text.png" alt="kids" width="220" height="220" aria-hidden="true" />
				</picture>
			</li>
			<li class="cs-item cs-item2">
				<div class="cs-flex">
					<h3 class="cs-h3">Red Dirt Shirts</h3>
					<a href="" class="cs-button-solid">Shop Now</a>
				</div>
				<div class="cs-image-group">
					<picture class="cs-picture">
						<!--Mobile Image-->
						<source media="(max-width: 600px)" srcset="/src/assets/images/products/red-dirt-shirt.png" />
						<!--Tablet and above Image-->
						<source media="(min-width: 601px)" srcset="/src/assets/images/products/red-dirt-shirt.png" />
						<img loading="lazy" decoding="async" src="/src/assets/images/products/red-dirt-shirt.png" alt="red dirt shirts" width="220" height="220" aria-hidden="true" />
					</picture>
				</div>
			</li>
			<li class="cs-item cs-item3">
				<div class="cs-flex">
					<h3 class="cs-h3">Aloha Collection</h3>
					<a href="" class="cs-button-solid">Shop Now</a>
				</div>
				<div class="cs-image-group">
					<picture class="cs-picture">
						<!--Mobile Image-->
						<source media="(max-width: 600px)" srcset="/src/assets/images/products/slippahs.png" />
						<!--Tablet and above Image-->
						<source media="(min-width: 601px)" srcset="/src/assets/images/products/slippahs.png" />
						<img loading="lazy" decoding="async" src="/src/assets/images/products/slippahs.png" alt="kids" width="220" height="220" aria-hidden="true" />
					</picture>
				</div>
			</li>
		</ul>
	</div>
</section>

<style lang="less">
	/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

	/* Mobile - 360px */
	@media only screen and (min-width: 0rem) {
		#hero-1590 {
			padding: var(--sectionPadding);
			/* leaving extra space for the navigation */
			padding-block: clamp(6.375rem, 20.95vw, 10.625rem);
			position: relative;
			z-index: 1;
			overflow: visible; /* Change from hidden to visible */
    		margin-top: 50px; /* Add margin to make room for the wave */

			
			.wave-divider {
                width: 115vw; /* Full viewport width */
                position: absolute;
               /* Use a responsive value for top positioning */
                top: clamp(-11rem, -14vw, -18rem); /* Smaller value on mobile, larger on desktop */
                left: 50%; /* Center it */
                transform: translateX(-50%); /* Center it */
                z-index: 1;
                line-height: 0;
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
			
			
			.cs-container {
				width: 100%;
				/* changes to 1720px at desktop */
				max-width: (550/16rem);
				margin: auto;
			}

			.cs-card-group {
				width: 100%;
				padding: 0;
				margin: 0;
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				/* 16px - 20px */
				gap: clamp(1rem, 2vw, 1.25rem);
				position: relative;
			}

			.cs-content {
				/* set text align to left if content needs to be left aligned */
				text-align: center;
				width: 100%;
				max-width: (590/16rem);
				margin: auto;
				display: flex;
				flex-direction: column;
				/* centers content horizontally, set to flex-start to left align */
				align-items: center;
			}

			.cs-topper {
				color: var(--secondary);
			}

			.cs-item1 {
				list-style: none;
				/* 60px - 120px top */
				/* 16px - 48px left & right */
				padding: clamp(3.75rem, 7vw, 7.5rem) clamp(1rem, 3vw, 3rem) (165/16rem);
				box-sizing: border-box;
				grid-column: span 12;
				position: relative;
				z-index: 1;
			}

			.cs-title {
				/* 39px - 61px */
				font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
				font-weight: 900;
				line-height: 1.2em;
				text-align: inherit;
				max-width: 20ch;
				margin: 0 0 (16/16rem) 0;
				color: var(--headerColor);
				position: relative;
			}

			.cs-text {
				/* 16px - 24px */
				font-size: clamp(1rem, 2.3vw, 1.25rem);
				line-height: 1.5em;
				text-align: inherit;
				width: 100%;
				/* 28px - 40px */
				margin: 0 0 clamp(1.75rem, 4vw, 2.5rem) 0;
				color: var(--bodyTextColor);
			}

			

			.cs-item2,
			.cs-item3 {
				text-align: left;
				list-style: none;
				overflow: hidden;
				/* 24px - 100px top & Bottom */
				/* 24px - 60px left & right */
				padding: clamp(1.5rem, 10vw, 6.25rem) clamp(1.5rem, 4vw, 3.75rem);
				box-sizing: border-box;
				display: flex;
				grid-column: span 12;
				flex-direction: row;
				align-items: center;
				position: relative;
				z-index: 1;

				&:before {
					content: "";
					width: 100%;
					height: 100%;
					background: #fef0d7;
					opacity: 1;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					z-index: -1;
				}
			}

			.cs-item3 {
				&:before {
					background-color: linear-gradient(180deg, #dce1e4 0.21%, #d5dade 99.93%);
				}

				.cs-flex {
					width: 50%;
					margin-left: auto;
				}

				.cs-image-group {
					font-size: ~"min(3vw, 1em)";
					justify-content: flex-start;
					right: auto;
					left: 0;

					.cs-picture {
						justify-content: flex-start;
					}
				}
			}

			.cs-flex {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				align-self: center;
			}

			.cs-offer {
				width: 85%;
				max-width: (189/16rem);
				height: auto;
				margin: 0 0 (16/16rem) 0;
			}

			.cs-image-group {
				font-size: ~"min(1.4vw, 1em)";
				width: 45%;
				height: 90%;
				max-width: (321/16rem);
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 1;
			}

			.cs-picture {
				width: 100%;
				max-width: (361/16em);
				height: 100%;
				max-height: (321/16em);
				display: flex;
				justify-content: center;
				align-items: flex-end;

				img {
					width: 100%;
					max-width: 100%;
					height: auto;
					max-height: (321/16em);
					object-fit: contain;
				}
			}

			.cs-h3 {
				/* 31px - 39px */
				font-size: clamp(1.9375rem, 2.3vw, 2.4375rem);
				line-height: 1.2em;
				font-weight: 700;
				max-width: 16ch;
				margin: 0 0 (28/16rem) 0;
				/* prevents padding and border from affecting height and width */
				box-sizing: border-box;
				color: var(--headerColor);
			}

			.cs-link {
				font-size: (16/16rem);
				text-decoration: none;
				text-align: inherit;
				line-height: 1.2em;
				font-weight: 700;
				color: var(--primary);
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 1;

				&:hover:before {
					width: 100%;
				}

				&:before {
					content: "";
					width: 0%;
					height: 1px;
					background: var(--primary);
					opacity: 1;
					position: absolute;
					display: block;
					bottom: (-2/16rem);
					left: 0;
					transition: width 0.3s;
				}
			}

			.cs-background {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;

				img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					/* Makes img tag act as a background image */
					object-fit: cover;
				}
			}
		}
	}

	/* Tablet - 768px */
	@media only screen and (min-width: 48rem) {
		#hero-1590 {
			.cs-container {
				max-width: (1720/16rem);
			}

			 .wave-divider {
                /* Adjust position for tablet */
                top: clamp(-18rem, 25vw, -30rem);
            }

			.cs-image-group {
				font-size: inherit;
			}

			.cs-item {
				grid-column: span 6;
			}

			.cs-item1 {
				grid-column: 7 / span 6;
				grid-row: 1 / span 2;
			}
		}
	}

	 /* Desktop - 1024px and above */
    @media only screen and (min-width: 64rem) {
        #hero-1590 {
            .wave-divider {
                /* Adjust position for desktop */
                top: clamp(-24rem, -40vw, -50rem);
            }
		}
	}

	/* Large Desktop - 1920px and above */
    @media only screen and (min-width: 120rem) {
        #hero-1590 {
            .wave-divider {
                /* Adjust position for large desktop */
                top: clamp(-30rem, -44vw, -55rem);
                width: 115vw; /* Slightly reduce width for better proportions */
            }
        }
    }
</style>
